<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <footer th:fragment="common_head">
        <!--顶部导航-->
        <div class="site-topbar ">
            <div class="container clearfix">
                <!--顶部导航-->
                <div class="topbar-nav pull-left">
                    <a class="active" href="javascript:;"></a>
                    <a href="javascript:;">欢迎来到零食中心</a>
                </div>
                <!--购物车-->
                <div class="topbar-cart pull-right" th:if="${session.user}!=null">
                    <a href="carts.html" th:href="@{/carts.html}" class="btn cart" style="border: 0px">
                        <!--<i class="icon iconfont"></i>-->
                        购物车<!--(<span>0</span>)-->
                    </a>
                </div>

                <!--登入、注册-->
                <div class="topbar-user pull-right" th:if="${session.user}==null">
                    <a href="login.html"th:href="@{/login.html}" id="login">登录</a>
                    <span class="sep">|</span>
                    <a href="register.html" th:href="@{/register.html}">注册</a><span th:text="${session.user}"></span>
                </div>
                <div class="topbar-user pull-right" th:if="${session.user}!=null">
                    <a href="PersonalInfo.html" th:href="@{/PersonalInfo.html}"><span th:text="${session.user.userName}"></span></a>
                    <span class="sep">|</span>
                    <a href="PersonalOrder.html" th:href="@{/PersonalOrder.html}">我的订单</a>
                    <span class="sep">|</span>
                    <a href="logout" th:href="@{/logout}">退出</a>
                </div>
            </div>
        </div>

        <!--页面header-->
        <div class="site-header">
            <div class="container clearfix">
                <!--网站logo-->
                <div class="header-logo pull-left">
                    <a href="javascript:;" th:href="@{/index.html}">
                        <img th:src="@{/img/logo62.png}"  style="width:70px; height:70px" src="./images/logo.png">
                    </a>
                </div>
                <ul class="header-nav pull-left clearfix">
                    <li class="item-category"></li>
                    <li class="nav-item"><a class="link" href="index.html" th:href="@{/index.html}">商城首页</a></li>
                    <li class="nav-item"><a class="link"  href="javascript:;">关于我们</a></li>
                    <li class="nav-item"><a class="link"  href="javascript:;">产品中心</a></li>
                    <li class="nav-item"><a class="link"  href="javascript:;">生活常识</a></li>
                    <li class="nav-item"><a class="link"  href="javascript:;">在线反馈</a></li>
                    <li class="nav-item"><a class="link"  href="javascript:;">联系我们</a></li>
                </ul>
                <!--搜索框-->
                <div class="header-search pull-right">
                    <form id="J_searchForm" class="search-form clearfix"  th:action="@{/search}" method="get">
                        <label for="search" class="hide">站内搜索</label>
                        <input class="search-text" type="search" id="search" name="search" autocomplete="off">
                        <input type="submit" class="search-btn iconfont" value="">
                    </form>
                </div>
            </div>
        </div>
    </footer>
</head>
</html>
<body>