<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>商品推荐</title>
<div th:replace="common/adminstatic :: adminstatic"></div>
<style type="text/css">

.table tbody tr td{
            vertical-align: middle;
        }
        th {
          text-align: center;
        }
.table tbody tr td img{
  width:100px;
  height: 50px;
}
table{
  table-layout:fixed;
}
        </style>
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
          <aside th:include="common/adminAside :: adminAside('shopRecommend.html')" class="lyear-layout-sidebar"></aside>
      <header th:include="common/adminHead :: adminHead" class="lyear-layout-header"></header>
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <h2>商品推荐</h2>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});
</script>
</body>
</html>